[Desktop Entry]
Encoding=UTF-8
Name=Testcoin
Comment=Testcoin P2P Cryptocurrency
Comment[fr]=Testcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Testcoin, eşten eşe kriptografik sanal para birimi
Exec=testcoin-qt %u
Terminal=false
Type=Application
Icon=testcoin128
MimeType=x-scheme-handler/testcoin;
Categories=Office;Finance;
